torch
torchvision
monai
nibabel
tqdm
einops
medpy
pydicom
SimpleITK
datasets
huggingface_hub
numpy
scipy
scikit-image
scikit-learn
pyyaml
tensorboard
tensorboardX
matplotlib
flake8
papermill
autopep8
jupytext
autoflake
ipywidgets
ipykernel





